/* ---- VARIABLES ---- */
:root {
    --dark-blue-1: #020659;
    --dark-blue-2: #020873;
    --dark-blue-3: #030A8C;
    --blue: #2104D9;
    --light-blue-1: #0D8DFB;
    --light-blue-2: #2699FB;
    --maroon: #590242;
}


/* ---- GLOBAL STYLES ---- */
* {
    padding: 0;
    margin: 0;
}

html {
    background-color: var(--dark-blue-1);
}

body {
    margin: 0 auto;
    max-width: 375px;
    min-width: 350px;
    font-family: Verdana, Geneva, Tahoma,   sans-serif;
    display: flex;
    flex-direction: column;
}

h2, h3 {
    font-size: 1em;
    text-transform: uppercase;
}

p, dl, dd {
    font-size: 1em;
    color: white;
}


/* ---- HEADER STYLES ---- */
header {
    background-color: var(--dark-blue-3);
    scroll-margin-top: 100px;
    margin-top: 60px;
    background-image: linear-gradient(to right, var(--blue), black);
}

h1 {
    font-size: 1.25em;
    color: white;
    text-transform: uppercase;
    padding: 5px 0 10px 30px; 
}

header p {
    padding: 0 30px 20px 30px;
}


/* ---- NAV STYLES ---- */
nav {
    position: fixed;
    top: 0;
    background-color: var(--dark-blue-3);
    width: 375px;
    height: 60px;
    z-index: 100;
}

nav h2 {
    visibility: hidden;
    height: 0px;
}

nav ul {
    overflow: hidden;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    width: fit-content;
}

nav li {
    list-style: none;
}

nav li a {
    display: block;
    padding: 20px;
    border-right: 1px solid var(--blue);
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    background-color: var(--dark-blue-3);
}

nav li a:hover, nav input:hover {
    background-color: var(--light-blue-2);
} 

#home-link {
    position: absolute;
    font-size: 1.75em;
    font-variant-caps: small-caps;
    text-align: center;
    text-transform: none;
    top: 0;
    border-right: none;
    padding: 15px 0 5px 0;
    margin-left: 100px;
    font-weight: bold;
}

#home-link:hover {
    background-color: var(--dark-blue-3);
}

/* START HAMBURGER DROP DOWN */
label {
    cursor: pointer;
    display: inline-block;
    padding: 27px 20px;
    position: relative;
    user-select: none;
}

label span {
    background-color: white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

label span:before, label span:after {
    background: white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

label span:before {
    top: 5px;
}

label span:after {
    top: -5px;
}

input {
    display: none;
}

input:checked ~ ul {
    max-height: 500px;
}

input:checked ~ label span {
    background: transparent;
}

input:checked ~ label span:before {
    transform: rotate(45deg);
}

input:checked ~ label span:after {
    transform: rotate(-45deg);
}

input:checked ~ label:not(.steps) span:before,
input:checked ~ label:not(.steps) span:after {
    top: 0px;
}
/* END HAMBURGER DROP DOWN */


/* ---- MAIN STYLES ---- */
main {
    background-color: white;
}

main section {
    scroll-margin-top: 60px;
}

main h2 {
    background-color: white;
    color: var(--maroon);
    margin: 0 0 10px 30px;
    padding-top: 30px;
}

main a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: var(--maroon);
    width: 150px;
    height: fit-content;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0 0 30px;
}

.tile-scroll {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    overflow: scroll;
    overflow-y: hidden;
}


/* START TRENDING SONGS SECTION */
#trending-songs {
    display: grid;
    grid-template-rows: auto auto auto;
}

.trending-tile {
    position: relative;
    padding: 0 10px;
    margin-bottom: 20px;
}

.details-bar {
    position: absolute;
    background-color: white;
    opacity: 70%;
    bottom: 0;
    width: 311px;
    padding: 10px 0 0 10px;
    color: var(--maroon);
}

.details-bar dl {
    display: flex;
    margin: 10px 10px 10px 0;
    color: var(--maroon);
}

.details-bar dt {
    font-style: italic;
}

.details-bar dd {
    color: var(--maroon);
    margin-left: 10px;
}

audio {
    position: absolute;
    bottom: 150px;
    right: 15px;
}

audio::-webkit-media-controls-mute-button {
    background-color: white;
    border-radius: 50%;
}
audio::-webkit-media-controls-play-button {
    background-color: white;
    border-radius: 50%;
}
audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255, .5);
}
/* END TRENDING SONGS SECTION */


.your-playlists-tile, .curated-playlists-tile {
    padding: 10px;
    margin: 10px;
    text-align: center;
    color: white;
}


/* START YOUR PLAYLISTS SECTION */
#your-playlists-scroll {
    background-color: var(--light-blue-2);
}

.your-playlists-tile {
    background-color: var(--light-blue-1);
}

.your-playlists-tile p {
    padding: 10px 0;
}
/* END YOUR PLAYLISTS SECTION */


/* START CURATED PLAYLISTS SECTION */
#curated-playlists-scroll {
    background-color: var(--dark-blue-3);
}

.curated-playlists-tile {
    background-color: var(--dark-blue-2);
}

.curated-playlists-tile h3 {
    margin: 5px 5px 10px 5px;
}
/* END CURATED PLAYLISTS SECTION */


/* START CUSTOM SCROLL BAR */
#trending-songs-scroll::-webkit-scrollbar {
    width: 15px;
}

#trending-songs-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px var(--maroon);
}

#trending-songs-scroll::-webkit-scrollbar-thumb {
    background: var(--maroon);
    border-radius: 5px;
}

#trending-songs-scroll::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue-1);
}

#your-playlists-scroll::-webkit-scrollbar, #curated-playlists-scroll::-webkit-scrollbar {
    width: 15px;
}

#your-playlists-scroll::-webkit-scrollbar-track, 
#curated-playlists-scroll::-webkit-scrollbar-track  {
    box-shadow: inset 0 0 15px var(--dark-blue-1);
}

#your-playlists-scroll::-webkit-scrollbar-thumb, 
#curated-playlists-scroll::-webkit-scrollbar-thumb {
    background: var(--dark-blue-1);
    border-radius: 5px;
}   

#your-playlists-scroll::-webkit-scrollbar-thumb:hover,
#curated-playlists-scroll::-webkit-scrollbar-thumb:hover {
    background: white;
}
/* END CUSTOM SCROLL BAR */

/* ---- FOOTER STYLES ---- */
footer {
    background-color: white;
    padding: 50px 0 10px 0;
}

footer p {
    font-size: .75em;
    color: var(--maroon);
    text-align: center;
}


/* ---- MEDIUM SCREEN STYLES ---- */
@media screen and (min-width: 834px) {
/* ---- GLOBAL STYLES ---- */
    body {
        max-width: 834px;
    }

/* ---- NAV STYLES ---- */
    nav {
        width: 834px;
    }

    nav ul {
        overflow: visible;
        top: 0;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        max-width: 834px;
        align-items: center;
    }

    label, span, input {
        display: none;
    }

    nav li a {
        padding: 10px;
        border: none;
        text-align: center;
        height: 40px;
    }

    nav li a:hover, #home-link:hover {
        background-color: var(--maroon);
    }

    #home-link {
        position: relative;
        width: fit-content;
        padding: 10px;
        margin: 0;
    }

    label span, input {
        display: none;
    }


/* ---- MAIN STYLES ---- */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto auto auto;
    }

    main a {
        justify-self: end;
        margin-right: 15px;
    }

    main a:hover {
        background-color: var(--dark-blue-1);
    }

    #intro-section {
        grid-column: 1 / -1;
    }

    #trending-songs {
        grid-column: 1 / -1;
        grid-row: 2 / 3;
    }

    #your-playlists {
        grid-column: 1 / 2;
        grid-row: 3 / -1;
        display: grid;
    }

    #curated-playlists {
        grid-column: 2 / 3;
        grid-row: 3 / -1;
        display: grid;
    }

    #your-playlists-scroll, 
    #curated-playlists-scroll {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5, 1fr);
        height: 500px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .your-playlists-tile img, 
    .curated-playlists-tile img {
        float: left;
    }
}